<!--
        Вход в аккаунт
-->
{% extends 'base.html' %}
{% block content %}
<main class="auth">
    <div class="container">
        <form class="auth_form">
            <h2 class="auth_title">Войдите в аккаунт</h2>
            <form method="post">
                {% csrf_token %}
                <div class="auth-field auth-field">
                    {{form.username}}
                </div>
                <div class="auth-field auth-field">
                    {{form.password}}
                </div>
            <button type="submit" class="auth_button">Войти</button>
            </form>
        </form>
    </div>
</main>
{% endblock %}