<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница не найдена</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header class="header">
    <div class="container">
        <h1 class="header_title">Кулинарные рецепты</h1>
        <nav class="header_nav">
            <a href="{% url 'popular_recipes' %}" class="header_link">Главная</a>
            <a href="{% url 'login' %}" class="header_link">Войти</a>
            <a href="{% url 'register' %}" class="header_link">Регистрация</a>
        </nav>
        <!-- Поиск -->
    </div>
</header>

<main class="content">
    <div class="container content_wrapper">
        <section class="recipes">
            <h2>Страница не найдена</h2>
            <p>Проверьте URL-адрес на наличие ошибок</p>
        </section>
    </div>
</main>

<footer class="footer">
    <div class="container">
        <p class="footer_text">© 2025 Название сайта. Все права не защищены.</p>
    </div>
</footer>

</body>
</html>