<!--
        Страница с понравившимися рецептами
-->
<!DOCTYPE html>
{%  load static  %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Любимые рецепты</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header class="header">
    <div class="container">
        <h1 class="header_title">Кулинарные рецепты</h1>
        <nav class="header_nav">
            <a href="{% url 'popular_recipes' %}" class="header_link">Главная</a>
            <a href="{% url 'login' %}" class="header_link">Войти</a>
            <a href="{% url 'register' %}" class="header_link">Регистрация</a>
        </nav>
        <!-- Поиск -->
    </div>
</header>

<main class="content">
    <h2 class="recipes_title">Любимые рецепты</h2>
    <div class="container content_wrapper">
        <!-- Main Content -->
        <section class="recipes">
            <div class="recipes_list">
                {% for rec in liked_recipes %}
                <div class="recipe-card" onclick="redirect('{% url 'recipe' rec.ID %}')">
                    <img src="{% static 'images/' %}{{ rec.Фото }}" alt="Фото" class="recipe-card_image">
                    <h3 class="recipe-card_title">{{ rec.Название }}</h3>
                    <p class="recipe-card_description">{{ rec.Описание }}</p>
                </div>
                {% endfor %}
            </div>
        </section>

    </div>
<script src="{% static 'js/script.js' %}"></script>
</main>

<footer class="footer">
    <div class="container">
        <p class="footer_text">© 2025 Название сайта. Все права не защищены.</p>
    </div>
</footer>
</body>
</html>