<!--
        Вход в аккаунт
-->
{% extends 'base.html' %}
{% block content %}
<main class="auth">
    <div class="container">
        <form class="auth_form">
            <h2 class="auth_title">Войдите в аккаунт</h2>
            <label class="auth_label">
                Имя пользователя:
                <input type="text" class="auth_input" required>
            </label>
            <label class="auth_label">
                Пароль:
                <input type="password" class="auth_input" required>
            </label>
            <button type="submit" class="auth_button">Войти</button>

        </form>
    </div>
</main>
{% endblock %}