{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div style="font-size: 20px;">Имя пользователя: {{username}}</div>
    <div style="font-size: 20px;">Имя: {{first_name}}</div>
    <div style="font-size: 20px;">Фамилия: {{last_name}}</div>
    <div style="font-size: 25px; text-align: center;">Любимые рецепты:</div>
    <div class="container content_wrapper">
        <!-- Main Content -->
        <section class="recipes">
            <div class="recipes_list">
                {% for rec in liked_recipes %}
                <div class="recipe-card" onclick="redirect('{{ rec.get_absolute_url }}')">
                    <img src="{% static rec.get_image_url %}" alt="Фото" class="recipe-card_image">
                    <h3 class="recipe-card_title">{{ rec.title }}</h3>
                    <p class="recipe-card_description">{{ rec.description }}</p>
                </div>
                {% endfor %}
            </div>
        </section>

    </div>
<script src="{% static 'js/script.js' %}"></script>
</main>
{% endblock %}