<!--
        Регистрация
-->
{% extends 'base.html' %}
{% block content %}
<main class="auth">
    <div class="container">
        <form class="auth_form">
            <h2 class="auth_title">Создайте аккаунт</h2>
            <label class="auth_label">
                Имя пользователя:
                <input type="text" class="auth_input" required>
            </label>
            <label class="auth_label">
                Email:
                <input type="email" class="auth_input" required>
            </label>
            <label class="auth_label">
                Пароль:
                <input type="password" class="auth_input" required>
            </label>
            <button type="submit" class="auth_button">Зарегистрироваться</button>
            <p class="auth_text">Уже есть аккаунт? <a href="{% url 'login' %}" class="auth_link">Войдите здесь</a>.</p>
        </form>
    </div>
</main>
{% endblock %}